.infoSection {
  display: flex;
  position: absolute;
  top: 148px;
  flex-direction: column;
  margin-left: 206px;
  background-color: #F5F9FA !important;
  width: 100%;

  .text {
    display: flex;
    width: 616px;
    height: 136px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 68px;
    color: #1B1F20;
  }

  .first {
    display: flex;
    position: relative;
    top: 20px;

    .textSecondary {
      display: flex;
      width: 440px;
      height: 48px;
      font-family: 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      bottom: 20px;
      color: #7D8385;
    }

    .buttonBlue {
      display: flex;
      position: absolute;
      box-sizing: border-box;
      flex-direction: row;
      left: 339.54px;
      background: #CCF7FF;
      border-radius: 12px;
      transform: rotate(-2deg);

      font-family: 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      align-items: center;
      padding: 2px 2px 2px 2px;
    }
  }

  .button {
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 181px;
    height: 46px;
    background: #EB5E28;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    color: #F5F9FA;

    &:hover {
      background-color: #0062cc;
      border-color: #0062cc;
      box-shadow: none;
    }
  }
  .container {
    display: flex;
    position: absolute;
    width: 377px;
    height: 374px;
    right: 310px;
    top: 0;
  }

}





